@tailwind base;

@tailwind components;

@tailwind utilities;


@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full border-gray-300 rounded-lg shadow-sm
        focus:border-red-500 focus:ring-red-500
        dark:bg-gray-300 dark:text-black;
    }
    [type='checkbox'],
    [type='radio'] {
        @apply rounded border-gray-300 text-red-600
        focus:border-red-500
    }
}


@layer components {
    body {
        @apply bg-gray-50 dark:bg-gray-800 dark:text-gray-50;
    }
    .container {
        @apply max-w-6xl mx-auto px-6 justify-center;
    }
    .phx-hero {
        @apply text-center 
        dark:bg-gray-600 bg-gray-200 
        rounded-xl 
        py-8 px-4 mt-0 mb-4 
        text-black dark:text-gray-50;
    }
    .phx-logo {
        @apply bg-yellow-100;
      }
    .phx-logo img {
        @apply h-12  dark:bg-gray-400 p-1;
    }
    .menu-locale {
        @apply flex min-w-full m-1 block justify-end;
    }
    .phx-locale {
        @apply flex min-w-full m-1 block;
    }
    .img-locale{
        @apply h-8 p-1 rounded-full;
    }
    // header {
    //     body {
    //       @apply antialiased relative bg-gray-200 font-sans;
    //     }
      
    //     @apply pb-4 mb-8 border-solid border-b border-red-500;
    // }
    // header section {
    //     @apply flex-auto flex-shrink-0 items-end justify-between;
    // }
    header nav ul, header nav li {
        @apply m-0 p-0 block text-right whitespace-nowrap;
    }
    header nav ul {
        @apply  mt-0;
    }
    header nav a {
        @apply block;
    }
    h1 {
        @apply text-center text-red-600 dark:text-red-400 font-extrabold text-4xl mb-8;
    }

    h3 {
        @apply text-left text-red-600 dark:text-white font-extrabold text-2xl mb-6;
    }
      
    p {
        @apply text-center text-gray-800 dark:text-gray-50 font-bold text-xl mb-6;
    }

    a {
        @apply font-normal text-red-500 hover:underline;
    }

    label {
        @apply block mt-3 mb-1 text-sm font-medium text-gray-600 dark:text-gray-50;
    }

    button {
        @apply mt-6 w-full py-2 px-4 
        border border-transparent text-sm font-bold
        rounded-md 
        text-white bg-red-600 
        transition duration-150 ease-in-out;
    }

    button:focus {
        @apply outline-none border-red-700 ring ring-red-300;
    }
    
    button:active {
        @apply bg-red-700;
    }
    
    button:hover {
        @apply bg-red-500;
    }
  
}

@import './auth.css'
