<ul>
   <%= if @current_mode == "light" do %>
   <li>
      <a href="/?mode=dark" class="phx-mode">
         <img src="<%= Routes.static_path(@conn, "/images/moon.svg") %>" alt="Dark mode"/>
        </a>
    </li>
    <% end %>
    <%= if @current_mode == "dark" do %>
    <li>
      <a href="/?mode=light" class="phx-mode">
         <img  src="<%= Routes.static_path(@conn, "/images/sun.svg") %>" alt="Light mode"/>
        </a>
    </li>
    <% end %>
</ul>
