  <ul>
    <%= if @current_mode == "light" do %>
      <li> <%= link "Dark mode", to: "/?mode=dark" %> </li>
    <% end %>
    <%= if @current_mode == "dark" do %>
      <li><%=  link "Light mode", to: "/?mode=light" %> </li>
    <% end %>
  </ul>
