  <ul>
    <%= if @current_mode == "light" do %>
      <li>
      <a href="/?mode=dark" class="phx-icon">
         <img src="<%= Routes.static_path(@conn, "/images/moon.svg") %>" alt="Phoenix Framework Logo"/>
        </a>
      </li>
    <% end %>
    <%= if @current_mode == "dark" do %>
      <li><%=  link gettext("Light mode"), to: "/?mode=light" %> </li>
    <% end %>
  </ul>
