<html>
  <head>
<style>
body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{font-size: 3.0rem; line-height: 1.25}
h2{font-size: 2.4rem; line-height: 1.3}
h3{font-size: 2.0rem; letter-spacing: -.08rem; line-height: 1.35}
h4{font-size: 1.6rem; letter-spacing: -.05rem; line-height: 1.5}
h5{font-size: 1.4rem; letter-spacing: 0; line-height: 1.4}
p{font-size: 1.2rem; letter-spacing: 0; line-height: 1.2}
pre{padding: 1em;}

.center{
  text-align: center;
}

.button {
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.container{
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 4.0rem;
  position: relative;
  width: 100%;
}
.phx-hero {
  <%# text-align: center; %>
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  padding: 1.0rem 4.0rem;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 100%;
}
</style>
  </head>
  <body>
    <section class="phx-hero">
      <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
      <p><%= gettext "Peace of mind from prototype to production" %></p>
    </section>
   <section class="container">
    <%# <%= render @view_module, @view_template, assigns %>
    <%= @inner_content %>
  </section>
  </body>
</html>
